.character_items{
    height:320px;
    width: 28%;
    display: inline-block;
    margin: 5px;
}

 /* Mobile */
 @media screen and (max-width: 480px) {
    .character_items{
        height:350px;
        width: 95%;
    }

}

.character_items img{
    width: 100%;
    height: 100%;
}