.header {
    text-align: center;
    padding: 32px;
  }

.fanart_header{
  font-family: "Angkor", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  margin: 20px 5px;
}

.fanart_intro{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
  color: rgb(211, 211, 211);
  line-height: 30.4px;
  margin-block-end: 32px;
}
 
.fanart_button_div{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 20px;
}

/* Mobile */
@media screen and (max-width: 480px) {
  .fanart_container{
    border: 0.5px solid grey;
    border-radius: 20px;
  }
  #fanart_div{
    display: none;
  }  
}
/* pc */
@media screen and (min-width: 480px) {
  .fanart_button_div{
    display: none
  }
  }

  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 20px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }
  .image-container {
    position: relative;
    display: inline-block;
    border-radius: 20px;
}

.image-description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    color: aliceblue;
}

.image-container a{
  color:springgreen;
}

.image-container:hover .image-description {
    opacity: 1;
}

/* Optional: Style to make the image grayscale on hover */
.image-container:hover img {
    filter: grayscale(100%);
    visibility: hidden;
}
